
.app-container{
    background-color: #EEEEEE;
    height: 100%;
    overflow: hidden;
    width: 100%;
    padding-top: 2.7rem;
}

.top-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    height: 4rem;
}
.top-menu > nav{
    height: 100%;
}
.top-menu > nav > ul{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;
    height: 100%;
    margin: 0;
}

.top-menu > nav > ul > li{
    list-style: none;
    padding: 0 0.3rem;
    margin: 0;
    order: 0;
    flex: 1 1 auto;
    align-self: stretch;
}

.main-window-container{
    height: calc(100vh - 2.7rem);
    overflow: hidden;
}
.sidebar{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 20%;
    height: 100%;
    background-color: #f0f0f0;
    padding: 1rem;
}
