html {
  background-color: #EEEEEE;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  width: 100vw;
  padding: 0;
  background-color: #EEEEEE;
}


#root{
  background-color: #EEEEEE;
}
